*{
	margin: 0;
	padding: 0;
	font-family: 'poppins' sans-serif;
	box-sizing:border-box;
}
body{
	margin:0;
	padding: 0;
	background: #f2f2f2;
}
.menu-area{
	background: #222f3e;
	height: 58px;
}
.container{
	width: 76.5%;
	margin: 0 auto;
}
.main-menu ul{
	margin: 0;
	padding: 0;
}
.main-menu > ul > li{
	padding: 20px 20px;
	float: left;
}
.main-menu > ul > li:hover{
	background: #15232f;
}
.main-menu ul li{
	list-style: none;
	position: relative;
	background: #222f3e;
	cursor: pointer;
}
.main-menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 14px;
	color: white;
}
.main-menu ul li ul li{
	display: none;
	padding: 10ps;
}
.main-menu ul li:hover > ul li{
	padding: 20px;
	display: block;
	width: 150px;
	background: #1d2b38;
}
.main-menu ul li ul li:hover{
	background: #122028;
}
.main-menu ul li ul li ul{
	position:absolute;
	display: none;
}
.main-menu ul ul{
	position: absolute;
	top: 100%;
	left: 0%;
	padding: 0;
	margin: 0;
	width: 150px;
	text-align: center;;
}
.main-menu ul li ul li{
	display: none;
	padding: 10px;
}
.main-menu ul li:hover > ul li{
	padding: 20px;
	display: block;
	width: 150px;
	background: #1d2b38;
}
.main-menu ul li ul li:hover{
	background: #122228;
}
.main-menu ul li ul li ul{
	position: absolute;
	display: none;
}
.main-menu ul li ul li:hover > ul{
	display: block;
	width: 150px;
	top: 0%;
	left: 100%;
}
.main-menu ul li ul li ul li{
	background: #1f2d3a;
}
.main-menu ul li ul li ul li ul:hover{
	display: block;
	
}
.main-menu ul li ul li ul li ul li{
	background: #222f3e;
}
.slicknav_menu .slicknav_menutxt{
	display: none;
}
.slicknav_menu .slicknav_icon{
	margin: 0.188em 4px 0 0.4em;
}
.slicknav_menu{
	display: none;
}
@media all and (max-width:1100px){
	.container{
		width: 80%;
	}
	.main-menu > ul > li{
		padding: 20px 17px;
	}
	.main-menu ul li a{
		font-size: 13px;
	}
}
@media all and (max-width:950px){
	.container{
		width: 100%;
	}
}
@media all and (max-width:768px){
	.js #menu{
		display: none;
	}
	.js .slicknav_menu{
		display: block;
		font-size: 20px;
		font-family: sans-serif;
		background: #222f3e;
	}
	.slicknav_btn{
		background: #040304;
	}
	.menu-area{
		background: none;
	}
	.fa-caret-down, .fa-caret-right{
		display: none;
	}
	.slicknav_animating{
		background: #0d2435;
	}
	.slicknav_nav ..slicknav_item:hover{
		background: #17171a;
		color: #fff;
	}
	.slicknav_nav a:hover{
		background: #040304;
		color: #fff;
	}
}